@media only screen and (min-width: 900px) {

  .header-links {
    text-align: left;
    padding: 1em 1em 0em;
  }

  #project-titles-2 {
  padding-left: 15%;
  font-style: italic;
  }

  .bulletp {
    margin-top: 2.5em;
    padding-left: 10%;
  }

}