
h1 {
    text-align: center;
  }

#header {
  background-color: rgb(0, 179, 0);
}

.subtitles {
  margin: 0.5% 5% 0.5%;
}

.paragraph {
   margin: 0.5% 8% 0.5%;
}

.italics {
  font-style: italic;
}

#project-titles-1 {
  font-weight: 700;
  padding-left: 8%;
}

#project-titles-m {
  font-style: italic;
  font-weight: 600;
  padding-left: 8%;
}

#project-titles-2 {
  padding-left: 8%;
  font-style: italic;
}
.bulletp {
  padding-left: 10%;
}

.degree {
  font-weight: normal;
}

#activities {
  padding: 0.5% 15%;
}
